<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Submit</title>
  </head>
  <body>
    <h1>Test Submit</h1>

    <form action="/hubQuery/" method="post">
      {% csrf_token %}
      <label for="addr_in">Enter address: </label>
      <input id="addr_in" type="text" name="addr_in"><br>
      </br>
      <input type="submit" value="submit">
    </form>
    {% if reqSuccess %}
    <table>
      <tr>
        {% if loc.designated %}
        <th bgcolor="#B2ED9D" colspan="5">Designated HubZone</th>
        {% else %}
        <th bgcolor="#EDAB9D" colspan="5">Not A Designated HubZone</th>
        {% endif %}
      </tr>
      <tr>
        <td></td>
        <th>Name</th>
        <th>2017</th>
        <th>2018</th>
        <th>More Info</th>
      </tr>
      <tr>
        <th>County</th>
        <td>{{ loc.designationInfo.county.name }}</td>
        {% if loc.designationInfo.county.prevYearDes %}
        <td bgcolor="#B2ED9D">Designated</th>
        {% else %}
        <td bgcolor="#EDAB9D">Not Designated</th>
        {% endif %}

        {% if loc.designationInfo.county.currYearDes %}
        <td bgcolor="#B2ED9D">Designated</th>
        {% else %}
        <td bgcolor="#EDAB9D">Not Designated</th>
        {% endif %}

        <td>{{ loc.designationInfo.county.currYearReason }}</td>
      </tr>
      <tr>
        <th>Tract</th>
        <td bgcolor="#dbdbdb"></td>

        {% if loc.designationInfo.tract.prevYearDes %}
        <td bgcolor="#B2ED9D">Designated</th>
        {% else %}
        <td bgcolor="#EDAB9D">Not Designated</th>
        {% endif %}

        {% if loc.designationInfo.tract.currYearDes %}
        <td bgcolor="#B2ED9D">Designated</th>
        {% else %}
        <td bgcolor="#EDAB9D">Not Designated</th>
        {% endif %}

        <td bgcolor="#dbdbdb"></td>
      </tr>

    <p>Interpreted Address: {{ loc.faddress }}</p>
    <p>Tract code: {{ loc.tractCode }}</p>
    <p>County code: {{ loc.countyCode}}</p>
    <br>
    <p>Designated hub zone: {{ loc.designated }}</p>

    {% endif %}
  </body>
</html>
