<!--menu.html -->
<!DOCTYPE html>
{% load staticfiles %} 
<html>
<head>
    <link rel="stylesheet" href="{% static 'boards/CSS/menu.css' %}"/>
</head>
<body>
	<title>
		SPOOK
	</title>	
		<div id ="parentDiv">
			<div id="div1">
		        <p>
		            <a href="#Spooky1"> Spooky1 </a>
		        </p>
		    </div>
		    <div id="div2">
		        <p>
		            <a href="#Spooky2"> Spooky2 </a>
		        </p>
		    </div>
		    <div id="div3">
		        <p>
		            <a href="#Spooky3"> Spooky3 </a>
		        </p>
		    </div>
		    <div id="div4">
		        <p>
		            <a href="#Spooky4"> Spooky4 </a>
		        </p>
		    </div>
		</div>
		<div id = "blank">
			<header>
				<h1>E (its a meme)<h1>
			</header>
		</div>
		<div id ="info">
			<header>
				<h1>Super Spook</h1>
			<p id = "INFO">
				Heyo people i am testing a bunch of text to see if this stuff works. So far it seems to be working so this is good news <br/>
			</p>

				<h2>Spooky1</h2>
			<p id = "Spooky1">
				thing2 derp derp derp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derp<br/>
				thing3 
			</p>

				<h2>Spooky2</h2>
			<p id = "Spooky2">
				thing2 derp derp derp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derp<br/>
				thing3 
			</p>
				<h2>Spooky3</h2>
			<p id = "Spooky3">
				thing2 derp derp derp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derp<br/>
				thing3 
			</p>
				<h2>Spooky4</h2>
			<p id = "Spooky4">
				thing2 derp derp derp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derpderp derp<br/>
				thing3 
			</p>
			</header>
			</div>

		<div id = "spook">
			<IMG SRC="{% static 'boards/Pics/Spooky.gif' %}"> </IMG>
		</div>

</body>
</html>